<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('./partials/header'); %>
        </header>
        <section>
            <div class="wrapper">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-12">
                        <p><%- data %></p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>