<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('./partials/header'); %>
        </header>
        <section>
            <div class="grid-container">
                <div class="cell large-12">
                    <p><%- data %></p>
                </div>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>